doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="second")
    title SIGNUP
    body
    form(action="http://localhost:1331/respass" method="post")
      div.container
        div.loginbox
          img(src="https://png.pngtree.com/svg/20161217/avatar__181424.png").avatar
          h1 WHATS YOUR EMAIL?
            div.textbox
              input(type="text" placeholder="Enter Email" name="email")
            div
              input(type="submit" value="GET MY EMAIL")