<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form action="https://tororo-api.appspot.com/signup" method="POST">
	<input type="text" name="nama" id="nama" placeholder="nama">
	<input type="text" name="email" id="email" placeholder="email">
	<input type="text" name="password" id="password" placeholder="password">
	<input type="text" name="bagian" id="bagian" placeholder="password">
	<input type="hidden" name="token" value="15262dcfc01ea003f9508395bfb1e567">
	<button type="submit" value="submit" id="daftar">DAFTAR</button>
	</form>
</body>
</html>